<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>List of Employees</title>
  <meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
  <h1>List of Employees</h1>

  <a th:href="@{/employees/add}"
    class="btn btn-primary btn-sm mb-3">
		Add Employee
  </a>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
    </thead>

    <tbody>
      <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}" />
        <td th:text="${employee.lastName}" />
        <td th:text="${employee.email}" />
        <td>
					<a th:href="@{/employees/edit(employeeId=${employee.id})}"
						class="btn btn-info btn-sm">
						Update
					</a>
				</td>
      </tr>
    </tbody>
  </table>
  </div>
</body>
</html>